<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>databae</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class='logo'>
        <a href="/">{databae}</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a class="blog-nav" href="/">home</a>
        <a class="dashboard-nav" href="/dashboard">dashboard</a>
        <a class="dashboard-nav" href="/chat">chat</a>
        <a id="logout" class="btn-no-style">logout</a>
        {{else}}
          <h2>are you ready to commit -m ?</h2>
          <button class="login-heading" href="/login">login</button>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  
  {{#if loggedIn}}
  <script src="js/logout.js"></script>
  {{/if}}
</body>

</html>