<section class="container">
    <form class="login-form">
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button  type="submit">login</button>
    </div>
    </form>

    <form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <a> gender: </a>  
        <select id = "genderChoice" onchange = "gender()" >  
        <option value ="male">male</option>  
        <option value ="female">female</option> 
        </select>
    </div>  
    <div>
        <a> gender preference: </a>  
        <select id = "genderPreference" onchange = "preference()" >  
        <option value ="male">male</option>  
        <option value ="female">female</option> 
        </select>
    </div> 
    <div>
        <a> select you favorite coding language: </a>  
        <select id = "languageChoice" onchange = "language()" >  
        <option> ---choose language--- </option>  
        <option> Javascript </option>  
        <option> Python </option>  
        <option> C++ </option>  
        <option> Java </option>
        </select>  
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
    </form>
</section>
<script src="/js/login.js"> </script>

<script>
    function gender()
    function preference()
    function language()
</script>
